<!-- <div class="events">

  <div class="container">
    <mat-grid-list cols="5" rowHeight="150px" gutterSize="3px" class="mat-elevation-z8" *ngFor="let event of eventList">
      <mat-grid-tile colspan="1" id="date">
        <h2> {{event.date}} <br> {{event.month}} </h2>
      </mat-grid-tile>
      <mat-grid-tile colspan="3" id="event">
        <h2> {{event.locationName}} <br> {{event.stage}} </h2>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" id="event">
        <h2> BUY TICKET </h2>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</div> -->


<div class="events">

  <div class="container">

    
  </div>

</div>
