<div class="contactus">
    <div class="container">
        <mat-grid-list cols="1" rowHeight="65vh">
            <mat-grid-tile colspan="1">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                        <h4>
                            Contact Us
                        </h4>
                        </mat-card-title>
                        <mat-card-subtitle>
                            <p>
                                Questions about your purchase? Please refer to our Customer Service Help Center by clicking here or by emailing us at eminem@fhcustomercare.com.

                                Please be sure to include your full name, order number, and any additional information regarding your purchase so that we may better assist you.
    
                                Typically, customer service requests are responded to within 1 business day of submission.
                                Customer Service hours are 10am - 5pm EST, Monday - Friday.
                            </p>
                        </mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>