.music 
    background: black

mat-grid-tile
    img
        width: 550px

    h1
        color: white
        letter-spacing: 1px

    h4
        color: white
        letter-spacing: 0.5px


#platformIcons
    img
        max-width: 100px


.danger 
    border-color: #E91313
    color: red
    width: 25%
    height: 25%
    font-size: 24px
    border-radius: 0

.danger:hover
    background: #E91313
    color: white
